<div data-sly-use.visit="com.adobe.tourism.core.models.impl.VistingImpl"</div>

<!--/* <div class="hero_right_img" data-sly-test="${visit.fileReference}">
                    <img src="${visit.fileReference}"> */-->
     </div>
      <div class="small_hero_info">
                        <h1 data-sly-test="${visit.title}" class="mb-2">${visit.title}</h1>
                        <h3 data-sly-test="${visit.text}">${visit.text}</h3>
                        <h3 data-sly-test="${visit.discription}">${visit.discription @ context='html'}</h3>
                    </div>

